$form_el__default_color: 'light';

$form_el__color--light: #666666;
$form_el__border--light: #EAEAEA;
$form_el__bg--light: #F5F5F5;
$form_el__bg--light--focus: lighten($form_el__bg--light, 2);
$form_el_validation--light: darken(red, 10);

$form_el__color--dark: #F5F5F5;
$form_el__border--dark: #555555;
$form_el__bg--dark: #444444;
$form_el__bg--dark--focus: lighten($form_el__bg--dark, 2);
$form_el_validation--dark: lighten(red, 12);

%form_el__spacing {
	margin: 0 0 15px;
	margin-bottom: 1.2rem;
	&:last-child {
		margin-bottom: 0; 
	}
}

$form_el__styles: (
	'default': 'square',
	'primary': 'rounded',
	'secondary': 'pill'
);

%form_el__style--pill {
	padding-right: 1.2em;
	padding-left: 1.2em;
	@include border-radius($infinity);
}

%form_el__style--rounded {
	padding-right: 0.9em;
	padding-left: 0.9em;
	@include border-radius(4px);
}

%form_el__style--square {
	padding-right: 0.7em;
	padding-left: 0.7em;
	@include border-radius(0);
}

%form_el__color--light {
	border: 1px solid $form_el__border--light;
	background-color: $form_el__bg--light;
	color: $form_el__color--light;
	@include placeholder {
		color: lighten($form_el__color--light, 35);
		@include opacity(1);
	}
	&:focus {
		background-color: $form_el__bg--light--focus;
	}
}

%form_label__title--light {
	color: lighten($form_el__color--light, 20);
	.form__label__title--required {
		color: $form_el_validation--light;
	}
}

%form_label__message--light {
	color: $form_el_validation--light;
}

%form_el__color--dark {
	border: 1px solid $form_el__border--dark;
	background-color: $form_el__bg--dark;
	color: $form_el__color--dark;
	@include placeholder {
		color: darken($form_el__color--dark, 35);
		@include opacity(1);
	}
	&:focus {
		background-color: $form_el__bg--dark--focus;
	}
}

%form_label__title--dark {
	color: darken($form_el__color--dark, 20);
	.form__label__title--required {
		color: $form_el_validation--dark;
	}
}

%form_label__message--dark {
	color: $form_el_validation--dark;
}

// Compensate for text baseline
$form_el_top_compensation: 0;
$form_el_bottom_compensation: 0;

%form__reset {
	background-image: none;
	display: block;
	margin: 0;
	padding-top: 0.7em + $form_el_top_compensation;
	padding-bottom: 0.7em + $form_el_bottom_compensation;
	width: 100%;
	@include appearance(none);
	@include box-sizing(border-box);
	@include transition(background-color .3s ease);
}

.form__el {
	@extend %form__reset;
	@extend %form_el__color--#{$form_el__default_color};

	&.form__el--light {
		@extend %form_el__color--light;
	}
	&.form__el--dark {
		@extend %form_el__color--dark;
	}

	@each $style_name, $style in $form_el__styles {
		@if ($style_name == 'default') {
    		@extend %form_el__style--#{$style};
    		&.form__el--#{$style} {
				@extend %form_el__style--#{$style};
			}
  	} @else {
			&.form__el--#{$style} {
				@extend %form_el__style--#{$style};
			}
		}
	}

	&:focus, &:active {
		outline: 0;
		@include box-shadow(none);
	}
	&[disabled] {
		@include opacity(1);
	}
}

select {
	text-indent: 0.01px;
	text-overflow: '';
}


input[type="search"] {
	@include box-sizing(border-box);
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.form__label__title {
	display: block;
	font-size: 0.75em;
	font-weight: bold;
	margin-bottom: 3px;
	text-transform: uppercase;
	@extend %form_label__title--#{$form_el__default_color};

	&.form__label__title--light {
		@extend %form_label__title--light;
	}
	&.form__label__title--dark {
		@extend %form_label__title--dark;
	}

	&.form__label--inline {
		@include inline-block;
		margin-left: 15px;
		&:first-child {
			margin-left: 0;
		}
	}
}

.form__label__message {
	display: block;
	font-size: 0.77em;
	font-weight: normal;
	margin-top: 8px;
	@extend %form_label__message--#{$form_el__default_color};

	&.form__label__message--light {
		@extend %form_label__message--light;
	}
	&.form__label__message--dark {
		@extend %form_label__message--dark;
	}
}

.form__el__wrapper {
	@include legacy-pie-clearfix;
	@extend %form_el__spacing;
}