$infinity: 9999px;

// Colors
$white: #FFFFFF;
$grey: #D3D3D3;
$black: #000000;

// Theme Colors
$primary: tomato;
$secondary: #DA5067;

// Default Colors
$color__body: darken($grey, 80);
$color__link: $primary;

$color__selection: $white;
$bg__selection: $primary;

$spacing_map: (0.5em, 1em, 2em, 4em);

$breakpoints_map: (
  '1e': (
    min_width: null,
    max_width: 29.938em
  ),
  '1t2e': (
    min_width: null,
    max_width: 47.938em
  ),
  '2e': (
    min_width: 29.948em,
    max_width: 47.938em
  ),
  '2': (
    min_width: 29.948em,
    max_width: null
  ),
  '1t3e': (
    min_width: null,
    max_width: 61.938em
  ),
  '3e': (
    min_width: 47.948em,
    max_width: 61.938em
  ),
  '3': (
    min_width: 47.948em,
    max_width: null
  ),
  '4': (
    min_width: 61.948em,
    max_width: null
  ),
);