$nav_switch--sm: '1t2e';
$nav_switch--lg: '3';
$color__link--navigation: darken($grey, 30);
$navigation_icon--size: 20px;
$navigation_icon__el--border_width: 2px;
$navigation_icon__el--border_color: $color__body;

.document__header {
	&.is_fixed {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 1;
		& + .document__content {
			margin-top: 50px;
			@include bp($nav_switch--lg) {
				margin-top: 36px;
			}
		}
	}
}

.document__header__bar {
	background-color: darken($white, 2);
	height: 50px;
	@include bp($nav_switch--lg) {
		height: auto;
		@include box-shadow(0 4px 0 rgba($black, 0.05));
	}
}

.document__navigation
{
	li, ul {
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&, ul {
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		overflow: auto;
		width: 260px;
		height: 100%;
		background-color: darken($white, 2);
		-webkit-overflow-scrolling: touch;
		@include transition(transform .3s);
		@include translateZ(0);
		@include translateX(0);
		@include bp($nav_switch--lg) {
			@include transition(none);
			position: relative;
			overflow: visible;
			width: auto;
			height: auto;
		}
		&.is_hidden {
			@include translateX(100%);
			@include bp($nav_switch--lg) {
				@include translateX(0);
			}
		}
		&.moves_out {
			overflow: visible;
			& > li > a {
				@include opacity(0);
				@include translateX(-100%);
			}
		}
		a {
			line-height: 50px;
			display: block;
			height: 50px;
			padding: 0 20px;
			text-decoration: none;
			color: $color__link--navigation;
			border-bottom: 1px solid lighten($color__link--navigation, 35);
			@include ellipsis;
			will-change: transform, opacity;
			@include transition(transform .3s, opacity .3s);
			@include translateZ(0);
			@include bp($nav_switch--lg) {
				line-height: 1;
				height: auto;
				padding: 10px;
				border-bottom-width: 0;
			}
			&:hover {
				@include bp($nav_switch--lg) {
					background-color: $primary;
					color: $white;
				}
			}
		}
		.has_children > a, .go_back a {
			position: relative;
			&:before, &:after {
				position: absolute;
				top: 50%;
				width: 10px;
				height: 2px;
				margin-top: -1px;
				content: '';
				background-color: $color__link--navigation;
				@include backface-visibility(hidden);
				@include inline-block;
				@include bp($nav_switch--lg) {
					display: none;
				}
			}
			&:before {
				@include rotate(45deg);
			}
			&:after {
				@include rotate(-45deg);
			}
		}
		.has_children > a {
			@include bp($nav_switch--sm) {
				padding-right: 40px;
			}
			&:before, &:after {
				right: 20px;
				@include transform-origin(9px, 50%);
			}
		}
		.go_back {
			a {
				padding-left: 40px;
				@include bp($nav_switch--lg) {
					display: none;
				}
				&:before, &:after {
					left: 20px;
					@include transform-origin(1px, 50%);
				}
			}
		}
	}
	& {
		top: 50px;
		@include bp($nav_switch--lg) {
			top: 0;
		}
	}
	& > ul {
		@include bp($nav_switch--lg) {
			@include legacy-pie-clearfix;
			position: relative;
			min-width: 180px;
		}
		ul {
			@include bp($nav_switch--lg) {
				position: absolute;
				min-width: 180px;
			}
		}
		li {
			@include bp($nav_switch--lg) {
				position: relative;
			}
			&:hover > ul {
				@include bp($nav_switch--lg) {
					display: block;
				}
			}
		}
		& > li {
			@include bp($nav_switch--lg) {
				float: left;
			}
			ul {
				@include bp($nav_switch--lg) {
					display: none;
				}
			}
			& > ul {
				@include bp($nav_switch--lg) {
					top: 100%;
					left: 0;
				}
				ul {
					@include bp($nav_switch--lg) {
						top: 0;
						left: 100%;
					}
				}
			}
		}
	}
}

.document__navigation__icon {
	cursor: pointer;
	right: 0;
	top: 2px;
	padding: 12px;
	position: absolute;
	z-index: 2;
	@include scale(1.2);
	@include user-select(none);
	@include bp($nav_switch--lg) {
		display: none;
	}
	.navigation_icon {
		position: relative;
		width: $navigation_icon--size;
		height: $navigation_icon--size;
		@include user-select(none);
	}
	.navigation_icon__el {
		position: absolute;
		border-top: $navigation_icon__el--border_width solid $navigation_icon__el--border_color;
		left: 0;
		width: 100%;
		@include transition(all .25s);
		@include backface-visibility(hidden);
	}
	.navigation_icon__el--top {
		top: ($navigation_icon--size / 2) - ($navigation_icon__el--border_width / 2);
		@include rotate(135deg);
		@include backface-visibility(hidden);
	}
	.navigation_icon__el--middle {
		@include transition(all .2s);
		top: ($navigation_icon--size / 2) - ($navigation_icon__el--border_width / 2);
		@include opacity(0);
	}
	.navigation_icon__el--bottom {
		top: ($navigation_icon--size / 2) - ($navigation_icon__el--border_width / 2);
		@include rotate(-135deg);
		@include backface-visibility(hidden);
	}
	.document__navigation.is_hidden + & {
		@include scale(1);
		top: 1px;
	}
	.document__navigation.is_hidden + & .navigation_icon__el--top {
		top: 0;
		@include rotate(0);
	}
	.document__navigation.is_hidden + & .navigation_icon__el--middle {
		@include opacity(1);
	}
	.document__navigation.is_hidden + & .navigation_icon__el--bottom {
		top: $navigation_icon--size - $navigation_icon__el--border_width;
		@include rotate(0);
	}
}
